<div class="container">
  <h1>Listen</h1>

  <% @lists.each do |list| %>
    <div class="card mb-4">
      <div class="card-header card-title">
        <%= link_to list.name, list_path(list), class: "text-decoration-none" %>
      </div>
    </div>
  <% end %>

  <%= link_to 'Liste erstellen', new_list_path %>
</div>
