<div class="container">
  <h1><%= @list.name %></h1>

  <div data-controller="columns-filter">
    <i class="fa-solid fa-filter icon" data-action="click->columns-filter#displayForm"></i>
    <div class="d-flex justify-content-around mt-2 mb-2 d-none" data-columns-filter-target="toggle">
      <%= render partial: 'items/search' %>
      <%= render partial: 'items/checkboxes' %>
    </div>

    <div data-controller="bookmark">
      <%= render partial: 'items/table', locals: { items: @list.items } %>
      <button data-action="click->bookmark#deleteBookmarks">Delete Selected Bookmarks</button>
    </div>
  </div>
</div>
