<ul>
  <% @artists.each do |artist| %>
    <li><%= link_to "#{artist.last_name}, #{artist.first_name} (#{artist.birthday} - #{artist.deathday unless artist.deathday.nil?})", artist_path(artist) %></li>
  <% end %>
</ul>
<%= link_to 'Künstler hinzufügen', new_artist_path %>
