<div class="card mb-4">
  <div class="card-body">
    <h3>Kommentare</h3>
    <ul class="list-group">
      <% @item.comments.each do |comment| %>
        <li class="list-group-item">
          <%= comment.text %>
          <%= link_to 'Edit', edit_item_comment_path(@item, comment), class: "btn btn-warning btn-sm float-end" %>
          <%= link_to 'Delete', item_comment_path(@item, comment), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm float-end me-2" %>
        </li>
      <% end %>
    </ul>
    <%= render partial: 'comments/form', locals: { item: @item, comment: Comment.new} %>
  </div>
</div>
