<h1>Restore Database</h1>
<%= form_with(url: restore_database_path, method: :post, local: true, multipart: true) do |form| %>
  <%= form.file_field :backup_file %>
  <%= form.submit "Restore Database" %>
<% end %>
