<div class="card mb-4">
  <div class="card-body">
    <h3>To-Do's</h3>
    <ul class="list-group">
      <% @item.tasks.each do |task| %>
        <li class="list-group-item">
          <%= link_to "#{task.titel}", item_task_path(@item, task) %>
          <i class="fa-regular <%= task.done ? 'fa-square-check' : 'fa-square' %>"></i>
        </li>
      <% end %>
    </ul>
    <%= link_to new_item_task_path(@item), class: "btn btn-primary mt-3" do %>
      <i class="fas fa-plus"></i> To-Do hinzufügen
    <% end %>
  </div>
</div>
