<h1>Tasks <%= "for #{@item.titel}" if @item %></h1>

<% @tasks.each do |task| %>
  <h3><%= task.titel %></h3>
  <p><%= task.content %></p>
<% end %>

<% if @item %>
  <%= link_to 'To-Do hizufügen', new_item_task_path %>
<% end %>
