<div class="container mt-4">
  <h1 class="mb-4">Wähle HTML-Datei zum Upload aus:</h1>

  <%= form_tag import_path, multipart: true, class: "mb-4" do %>
    <div class="input-group">
      <%= file_field_tag :import_file, class: "form-control" %>
      <button type="submit" class="btn btn-primary">Upload File</button>
    </div>
  <% end %>
</div>
