<div class="columns-filter container mt-2 mb-2" data-columns-filter-target="checkboxes">
  <label><input type="checkbox" name="foto" checked> Foto</label>
  <label><input type="checkbox" name="artist" checked> Künstler</label>
  <label><input type="checkbox" name="category" checked> Bezeichnung</label>
  <label><input type="checkbox" name="titel"> Titel</label>
  <label><input type="checkbox" name="year" checked> Jahr</label>
  <label><input type="checkbox" name="material"> Material</label>
  <label><input type="checkbox" name="size"> Größe</label>
  <label><input type="checkbox" name="provenance"> Provenienz</label>
  <label><input type="checkbox" name="manufacturer"> Hersteller</label>
  <label><input type="checkbox" name="edition" checked> Auflage</label>
  <label><input type="checkbox" name="comments"> Kommentare</label>
  <label><input type="checkbox" name="references"> Literatur</label>
  <label><input type="checkbox" name="tasks" checked> To-Do's</label>
</div>
