<div data-controller="columns-filter">

  <%= render partial: 'checkboxes' %>


  <%= render partial: 'table' %>

  <%= render partial: 'pagination' %>

  <%= link_to 'Objekt hinzufügen', new_item_path, class: "btn btn-primary" %>
</div>
