<div data-controller="columns-filter">
  <div class="columns-filter container" data-columns-filter-target="checkboxes">
    <%= render partial: 'checkboxes' %>
  </div>

  <%= render partial: 'table' %>

  <%= link_to 'Objekt hinzufügen', new_item_path %>
</div>
