<div class="container mt-4">
  <h1 class="mb-4">Sicherungskopie der Datenbank erstellen</h1>

  <%= form_tag save_backups_path, method: :post, class: "mb-4" do %>
    <button type="submit" class="btn btn-primary">Jetzt speichern</button>
  <% end %>
</div>
