<div class="card mb-4">
  <div class="card-body">
    <h3>Literatur</h3>
    <ul class="list-group">
      <% @item.references.each do |reference| %>
        <li class="list-group-item">
          <%= reference.text %>
          <%= link_to edit_item_reference_path(@item, reference), class: "btn btn-warning btn-sm float-end" do %>
            <i class="fas fa-pencil-alt"></i> Ändern
          <% end %>
          <%= link_to item_reference_path(@item, reference), method: :delete, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-danger btn-sm float-end me-2" do %>
            <i class="fas fa-trash-alt"></i> Löschen
          <% end %>
        </li>
      <% end %>
    </ul>
    <%= render partial: 'references/form', locals: { item: @item, reference: Reference.new } %>
  </div>
</div>
