.navbar-main {
  justify-content: space-between;
  background: rgba(240, 237, 237, 1);
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid black;
}

.navbar-main .navbar-collapse {
  flex-grow: 0;
}

.navbar-main .navbar-brand img {
  width: 40px;
}
