/* app/assets/stylesheets/print.css */
@media print {
  body * {
    visibility: hidden;
  }

  .table-to-print * {
    visibility: visible !important;
  }

   .table-to-print .btn,
   .table-to-print .fas {
     visibility: hidden !important;
   }

  // .table-to-print {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  // }
}
