/* app/assets/stylesheets/print.css */
@media print {
  body * {
    visibility: hidden;
  }

  .table-to-print * {
    visibility: visible !important;
  }

   .table-to-print .btn,
   .table-to-print .fas {
     visibility: hidden !important;
   }

   // After just hiding them (the buttons of the carousel in items/show),
   // there was a grey box left. Now complety remove the icons.
   .carousel-control-next-icon,
   .carousel-control-prev-icon {
     display: none !important;
   }

  .card, tr {
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
  }

  // .table-to-print {
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  // }
}
